body {
  margin: 0;
  font-family: Calibri, sans-serif;
  margin-top: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserInput {
  background-color: rgb(219, 219, 255);
  display: grid;
  width: 65vw;
  padding: 20px;
  border-radius: 20px;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.inputSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

.ResumeOutput {
  margin: 50px 35px 50px;
  width: 65vw;
  height: 50vw;
}

.sectionName {
  font-size: 1.5rem;
  font-weight: bold;
}

.basicInformation {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.name {
  grid-column: 1 / 4;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.school,
.employer {
  font-weight: bold;
}

.Education,
.WorkExperience {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dates {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: end;
}

.positionTitle {
  font-weight: bold;
  font-style: italic;
}

.pageBtn {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}

.pageBtn:hover {
  background-color: lightgray;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
